<?xml version="1.0"?>
<launch>
	
	<group ns="conveyor">
		<node name="spawn_model_belt" pkg="gazebo_ros" type="spawn_model" args="-file $(find demo_world)/urdf/conveyor.urdf -urdf -model conveyor_belt -x 7.5 -y 4.2 " respawn="false" output="screen" />
	</group>

	
	<node name="conveyor_belt_control_node" pkg="demo_world" type="control_conv.py" output="screen"/>
	
</launch>